langchain_openai
langchain
langchain_community
python-dotenv
langchain_core
streamlit
langchain_groq
langchain-text-splitters
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
ipykernel
langchain_classic
pypdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
duckduckgo-search
duckdb
langchainhub
ddgs
langgraph
pathlib
